@page "/"
@inject ILogger<Home> Logger
@inject NavigationManager NavManager; 

<PageTitle>Home</PageTitle>
<div class="search-wrapper">
    <a class="index-link" href="/Index">Index</a>
    <div class="wrapper">
        <img src="logo.gif" alt="logo"/>
        <form method="post" @onsubmit="Submit" @formname="search-query">
            <AntiforgeryToken></AntiforgeryToken>
            <InputText @bind-Value="Query!.Value"></InputText>
            <div class="search-buttons">
                <button type="submit" id="search">Search</button>
                @* TODO: needs workaround <button>I'm feeling lucky</button> *@
            </div>
        </form>
    </div>
</div>

@code {

    [SupplyParameterFromForm] private SearchQuery? Query { get; set; }

    protected override void OnInitialized() => Query ??= new SearchQuery();

    private void Submit()
    {
        Logger.LogInformation($"Search query => {Query?.Value}");
        NavManager.NavigateTo($"/Results/{Query?.Value}");
    }

    private class SearchQuery
    {
        public string? Value { get; set; }
    }

}