.results-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px;
    gap: 1em;
    justify-items: left;
    align-items: center;
    margin: 1em 5em 1em 1em;

    img {
        display: block;
        max-width: 250px;
    }

    .content {
        align-self: flex-start;
        margin-top: 1em;

        ul {
            padding: 0;
            list-style-type: none;

            li {
                margin-block: 1em;
            }
        }
    }

    form {
        display: flex;
        gap: 1em;

        input {
            width: 500px;
            padding: .25em 1em;
            font-family: arial, sans-serif;
            text-align: left;
            background-color: #414245;
            border-radius: 1em;
            border: 0;
            color: #e0def4;
            outline: none;
        }

        input:hover, input:focus {
            background-color: #414245;
            border: 0;
            box-shadow: 0 1px 6px 0 #141619;
        }

        button {
            box-sizing: border-box;
            background-color: #303134;
            border-radius: 4px;
            border: 1px solid transparent;
            padding: .25em 1em;
            color: #e8eaed;
            height: 36px;
            line-height: 27px;
            text-align: center;
            font-family: arial, sans-serif;;

        }

        button:hover {
            border: 1px solid #393552;
        }
    }
}

.results {
    cursor: pointer;
    color: #e0def4;
}
